# Template for configuring local environment variables
# Copy this to create the .env file and docker-compose
# will pickup the values from the .env file.

# Hostname of the application
HOST=handle-local

# This is needed for local development only
SAML_ISSUER=handle-local:3000

# SAML SP's Signing Key
SAML_SP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
LoremipsumdolorsitametconsecteturadipiscingelitNullamlacusduiiac
ulisnecluctusutportaatnibhVestibulumvehiculavulputatefelisetscel
erisqueCrasplaceratmassanonpharetrarhoncusAeneanneclectusvitaeli
berogravidasuscipitnecvelpurusMaurissollicitudinenimeulaciniadic
tumAeneanuturnatristiquetinciduntlectusvitaelaciniaaugueFuscetem
porerosvitaejustofaucibuslobortisvariusmauristinciduntPellentesq
uesuscipitimperdietefficiturVestibulumfringillaeleifendmagnaatvo
lutpatexcursusegetFuscedictumliberoaccumsanfeugiatestidefficitur
leoDonecvariusnunceuconsequatposuereFuscecongueefficitursemsitam
etauctorSuspendisseeleifendmieuvenenatisimperdietmetusdiamvolutp
attortorvelluctusenimmifacilisisneque
-----END PRIVATE KEY-----"

# SAML SP's Certificate
SAML_SP_CERTIFICATE="-----BEGIN CERTIFICATE-----
LoremipsumdolorsitametconsecteturadipiscingelitNullamlacusduiiac
ulisnecluctusutportaatnibhVestibulumvehiculavulputatefelisetscel
erisqueCrasplaceratmassanonpharetrarhoncusAeneanneclectusvitaeli
berogravidasuscipitnecvelpurusMaurissollicitudinenimeulaciniadic
tumAeneanuturnatristiquetinciduntlectusvitaelaciniaaugueFuscetem
porerosvitaejustofaucibuslobortisvariusmauristinciduntPellentesq
uesuscipitimperdietefficiturVestibulumfringillaeleifendmagnaatvo
lutpatexcursusegetFuscedictumliberoaccumsanfeugiatestidefficitur
leoDonecvariusnunceuconsequatposuereFuscecongueefficitursemsitam
etauctorSuspendisseeleifendmieuvenenatisimperdietmetusdiamvolutp
attortorvelluctusenimmifacilisisneque
-----END CERTIFICATE-----"
