# Example .env file
#
# If running locally on a workstation, make a copy of this file named ".env"
# and fill out the properties
#
# Note: The .env file should _not_ be checked in to Git!
#
# When running in production,  using Kubernetes, the Kubernetes configuration
# should include the following enviroment variables.

# --- config/secrets.yml
# Secret key used to verify signed cookies
SECRET_KEY_BASE=

# --- config/application.rb
# Secret key used to generate JWT tokens
# Any value can be used as long as it is "sufficiently long",
# such as by running the following command in the console:
# uuidgen | shasum -a256 | cut -d' ' -f1
JWT_SECRET=

# The base URL (including a trailing slash) for the handle proxy server
# associated with this application. For example: "https://hdl-test.lib.umd.edu/"
HANDLE_HTTP_PROXY_BASE=

# --- config/database.yml
# The type of database
PROD_DATABASE_ADAPTER=postgresql

# The name of the database
PROD_DATABASE_NAME=umd_handle

# The encoding to use
PROD_DATABASE_ENCODING=utf8

# The username used to connect to the database
PROD_DATABASE_USERNAME=umd_handle

# The password used to connect to the database
PROD_DATABASE_PASSWORD=

# The host for the database
PROD_DATABASE_HOST=

# The port for the database
PROD_DATABASE_PORT=5432

# Pool size
PROD_DATABASE_POOL=10

# --- config/application.rb
# --- config/initializers/devise.rb
# Hostname of the application
HOST=handle-local

# --- config/initializers/devise.rb

# SAML SP's Signing Key
SAML_SP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
LoremipsumdolorsitametconsecteturadipiscingelitNullamlacusduiiac
ulisnecluctusutportaatnibhVestibulumvehiculavulputatefelisetscel
erisqueCrasplaceratmassanonpharetrarhoncusAeneanneclectusvitaeli
berogravidasuscipitnecvelpurusMaurissollicitudinenimeulaciniadic
tumAeneanuturnatristiquetinciduntlectusvitaelaciniaaugueFuscetem
porerosvitaejustofaucibuslobortisvariusmauristinciduntPellentesq
uesuscipitimperdietefficiturVestibulumfringillaeleifendmagnaatvo
lutpatexcursusegetFuscedictumliberoaccumsanfeugiatestidefficitur
leoDonecvariusnunceuconsequatposuereFuscecongueefficitursemsitam
etauctorSuspendisseeleifendmieuvenenatisimperdietmetusdiamvolutp
attortorvelluctusenimmifacilisisneque
-----END PRIVATE KEY-----"

# SAML SP's Certificate
SAML_SP_CERTIFICATE="-----BEGIN CERTIFICATE-----
LoremipsumdolorsitametconsecteturadipiscingelitNullamlacusduiiac
ulisnecluctusutportaatnibhVestibulumvehiculavulputatefelisetscel
erisqueCrasplaceratmassanonpharetrarhoncusAeneanneclectusvitaeli
berogravidasuscipitnecvelpurusMaurissollicitudinenimeulaciniadic
tumAeneanuturnatristiquetinciduntlectusvitaelaciniaaugueFuscetem
porerosvitaejustofaucibuslobortisvariusmauristinciduntPellentesq
uesuscipitimperdietefficiturVestibulumfringillaeleifendmagnaatvo
lutpatexcursusegetFuscedictumliberoaccumsanfeugiatestidefficitur
leoDonecvariusnunceuconsequatposuereFuscecongueefficitursemsitam
etauctorSuspendisseeleifendmieuvenenatisimperdietmetusdiamvolutp
attortorvelluctusenimmifacilisisneque
-----END CERTIFICATE-----"
