<h1>Sign in</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">You need to login to access this application.</h3>
  </div>
  <div class="panel-body">
    <%= link_to 'CAS Login', new_user_session_path, class: "btn btn-default" %>
  </div>
</div>
