<h1>Not Authorized</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">You are not authorized to access this application.</h3>
  </div>
  <div class="panel-body">
    Please contact the application owner to request access.
  </div>
</div>
