openapi: 3.0.0
info:
  version: 1.0.0
  title: umd-handle API
  description: The umd-handle service API
  
servers:
  - url: https://handle.lib.umd.edu/api/v1

# JWT authentication
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
security:
  - bearerAuth: [] 

tags:
- name: "handles"

paths:
  /handles/{prefix}/{suffix}:
    get:
      tags:
      - "handles"
      description: Returns the resolved URL for the given handle
      operationId: "resolveHandle"
      parameters:
        - name: prefix
          in: path
          required: true
          description: The handle prefix
          schema:
            type: string
        - name: suffix
          in: path
          required: true
          description: The handle suffix
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    description: Fully-qualified URL to the resource
                    example: 'https://digital.lib.umd.edu/resultsnew/id/umd:734086'
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Handle not found
  /handles:
    post:
      tags:
      - "handles"
      description: Mint a new handle for a URL
      operationId: "mintHandle"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              required:
                - url
                - repo
                - repo_id
              properties:
                url:
                  description: The URL the handle should resolve to
                  type: string
                repo:
                  description: The source repository for the resource
                  type: string
                repo_id:
                  description: The internal id of the resource in the source repository
                  type: string
                description:
                  description: A short human-readable description of the resource, typically the title of the resource
                  type: string
                notes:
                  description: Any additional notes about the resource
                  type: string
      responses:
        '200':
          description: 'Successful creation of a handle'
          content:
            application/json:
              schema:
                type: object
                required:
                  - prefix
                  - suffix
                  - proxy_url
                properties:
                  prefix:
                    description: The handle prefix
                    example: '1903.1'
                    type: string
                  suffix:
                    description: The handle suffix
                    example: '1'
                    type: string
                  handle_url:
                    description: The URL for the handle
                    example: 'https://hdl.handle.net/1903.1/1'
                    type: string
        '400':
          description: 'Unsuccessful request due to invalid parameters, such as missing parameters, or unknown repository.'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        
